.body {
    background-color: white;
    margin: 0px 300px 0px 300px;
}
.card {
    box-shadow: 10px 14px 10px -7PX rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box {
    border: 1px solid black;
}

.player-name {
    text-decoration: darkblue;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

.inner-box {
    background-color:  white;
    height:180px;
    width: 180px;
}

.player-top {
    margin: 0px 50px 50px 50px;
}

.player-bottom {
    margin: 50px 50px 0px 50px;
}

.player1 {

    background-color: green;
}    

.player2 {
    
    background-color: yellow;
}

.player3 {
    
    background-color: blue;
}

.player4 {

    background-color: red;
}

.dana {
    height: 50px;
    width: 50px;
}

.dana1 {
    background-color: green;
 
}

.dana2 {
    background-color: yellow;
   
}

.dana3 {
    background-color: blue;
 
}

.dana4 {
    background-color: red;
  
}

.dana-left {
    float: left;
  
    margin: 25px 20px 0px 25px
}

.dana-right {
    float: right;
    margin: 25px 25px 0px 20px;
}
.danarun:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}
.danarun {
    border: 1px solid rgb(3, 0, 0);
    height: 47px;
}

.danaplace {
    padding-top: 15px;
    text-align: center;
}
.star {
    padding: 0;
}
.P-0{
    padding-top: 15px;
}